@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

@using System.Data
@model DataTable;



<main id="main" class="main">
    <section class="section dashboard">
        <div class="row">

            <!-- Boy Count -->

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card ">

                    <div class="card-body">
                        <h5 class="card-title">Total Boy Name</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-child"></i>

                            </div>
                            <div class="ps-3">
                                <h6>@Model.Rows[0]["BoyCount"]</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Boy Count End -->
            <!-- Girl Count -->

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card ">

                    <div class="card-body">
                        <h5 class="card-title">Total Girl Names </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-child"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.Rows[0]["GirlCount"]</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Girl Count End -->
            <!-- Unisex Count -->

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card ">

                    <div class="card-body">
                        <h5 class="card-title">Total Unisex Names </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-child"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.Rows[0]["UnisexCount"]</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Uniex Count End -->

        </div>
        <div class="row">
            <!-- Unisex Count -->

            <div class="col-xxl-4 col-md-6">
                <div class="card info-card ">

                    <div class="card-body">
                        <h5 class="card-title">Total Active Users </h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="ps-3">
                                <h6>@Model.Rows[0]["UsersCount"]</h6>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Uniex Count End -->
        </div>
    </section>
</main><!-- End #main -->