@{
    Layout = "~/Views/Shared/_Layout_User.cshtml";
}


<div class="bg-white">

    <!-- Carousel Start -->
    <div class="container-fluid p-0 mb-5">
        <div class="owl-carousel header-carousel position-relative">

            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/assetsUser/img/baby-is-lying-face-down-bed (1).jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h6 class="display-4 text-white animated slideInDown">Find the best name </h6>
                                <h6 class="display-4 text-white animated slideInDown mb-4">for your baby</h6>
                                <p class="fs-5  text-white  mb-1">Navigate the journey of parenthood with confidence, </p>
                                <p class="fs-5  text-white mb-4 pb-2">starting with the perfect name.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="~/assetsUser/img/cute-baby-born.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(0, 0, 0, .2);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h6 class="display-6  text-white animated slideInDown">Discovering the Perfect  </h6>

                                <h6 class="display-6 text-white animated slideInDown mb-4">Moniker for Your Little Miracle</h6>
                                <p class="fs-5 fw-medium text-white mb-1">Start the adventure of a lifetime with </p>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">the perfect name for your precious little one.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Names Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Popular Names!</h1>
                <p>Explore the most popular names of the moment! Dive into this collection and discover the names that are capturing hearts worldwide.</p>

            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Arjunas son, Heroic, With self respect (Son of Arjuna and Subhadra, nephew to Krishna. He was slain in the battle of Kurukshetra when just sixteen years old.)</p>

                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Abhimanyu</h3>
                            <span class="ms-2">Boy</span>
                        </div>
                    </div>
                </div>

                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Divine, Lord krishnas mother (Krishna's mother and the wife of Vasudeva, a chief of the Vrishni clan. Sister of Kamsa, she was imprisoned by him soon after her marriage.)</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Devki</h3>
                            <span>Girl</span>
                        </div>
                    </div>
                </div>
                <div class="testimonial-item bg-light rounded p-5">
                    <p class="fs-5">Sushumna is a nadi in the human subtle body. it is one of the bodys main energy, Channels that connects the base Chakra to the crown Chakra, Same as Lalita</p>
                    <div class="d-flex align-items-center bg-white me-n5" style="border-radius: 50px 0 0 50px;">
                        <div class="ps-3">
                            <h3 class="mb-1">Susumna</h3>
                            <span>Girl</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class=" d-flex justify-content-center mt-4">
            <a class="btn btn-primary py-2 px-4" asp-action="BabyList" asp-controller="SEC_User">See More</a>
        </div>
    </div>
    <!-- Names End -->
    

</div>

