@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@model BabyNames.Areas.SEC_User.Models.SEC_UserModel

<main>
    <div class="container">

        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                        <div class="d-flex justify-content-center py-4">
                            <a href="index.html" class="logo d-flex align-items-center w-auto">
                                <img src="assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">BabyNames</span>
                            </a>
                        </div><!-- End Logo -->

                        <div class="card mb-3">

                            <div class="card-body">

                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                                    <p class="text-center small">Enter your personal details to create account</p>
                                </div>

                                <form class="row g-3 needs-validation" asp-area="SEC_User" asp-controller="SEC_User" asp-action="Register" enctype="multipart/form-data">

                                    <div class="col-12">

                                        @if (TempData["InvalidUserNameError"] != null)
                                        {
                                            <div class="text-danger">@Html.Raw(TempData["InvalidUserNameError"])</div>
                                        }


                                        <label class="form-label"><span style="color:red;">*</span>Username</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="UserName"></span>
                                            <input type="text" name="username" asp-for="UserName" class="form-control" id="UserName" required>
                                            <div class="invalid-feedback">Please enter your username.</div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="Password" class="form-label"><span style="color:red;">*</span>Password</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="Password"></span>
                                            <input type="password" name="Password" asp-for="Password" class="form-control" id="Password" required>
                                            <div class="invalid-feedback">Please enter your Password.</div>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="FirstName" class="form-label"><span style="color:red;">*</span>FirstName</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="FirstName"></span>
                                            <input type="text" name="FirstName" asp-for="FirstName" class="form-control" id="FirstName" required>
                                            <div class="invalid-feedback">Please enter your FirstName.</div>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="LastName" class="form-label"><span style="color:red;">*</span>LastName</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="LastName"></span>
                                            <input type="text" name="LastName" asp-for="LastName" class="form-control" id="LastName" required>
                                            <div class="invalid-feedback">Please enter your LastName.</div>

                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label asp-for="Email" class="form-label"><span style="color:red;">*</span>Email</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text" id="Email"></span>
                                            <input type="email" name="Email" asp-for="Email" class="form-control" id="Email" required>
                                            <div class="invalid-feedback">Please enter your Email.</div>

                                        </div>
                                    </div>


                                    @*Profile Picture*@
                                  
                                    <div class="col-sm-10">
                                        <input class="form-control" type="file" id="formFile" asp-for="File" required>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-check">
                                            <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
                                            <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
                                            <div class="invalid-feedback">You must agree before submitting.</div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Create Account</button>
                                    </div>


                                    <div class="col-12">
                                        <p class="small mb-0">Already have an account? <a asp-area="SEC_User" asp-controller="SEC_User" asp-action="SEC_UserSignIn">Log in</a></p>
                                    </div>
                                </form>

                            </div>
                        </div>



                    </div>
                </div>
            </div>

        </section>

    </div>
</main><!-- End #main -->
